.app {
  height: 100%;
  width: 100%;
  display: flex;
  min-width: fit-content;

  flex-direction: column;
}

.app_navbar {
  width: 100%;
  padding: 20px 30px;
  border-bottom: 2px solid #ccc;
}
.app_outer {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  padding: 20px;
}

.app_boards {
  padding: 20px;
  height: 100%;
  min-width: fit-content;
  display: flex;
  gap: 30px;
}

.app_boards_board {
  min-width: 290px;
  width: 290px;
}
